{
  "openapi": "3.1.0",
  "info": {
    "title": "Verdocs Platform API",
    "version": "6.8.1",
    "description": "The Verdocs Platform API provides endpoints for performing all common operations in the Verdocs Platform. API endpoints follow REST conventions and use standard HTTP methods for most operations. All calls are made via a common endpoint [https://api.verdocs.com](https://api.verdocs.com) and use JSON formatting for both request and response bodies.",
    "termsOfService": "https://verdocs.com/en/eula/",
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "contact": {
      "name": "Verdocs Support",
      "url": "https://verdocs.com/en/contact/",
      "email": "support@verdocs.com"
    }
  },
  "externalDocs": {
    "description": "Verdocs Developer Portal",
    "url": "https://developers.verdocs.com/"
  },
  "servers": [
    {
      "url": "https://api.verdocs.com",
      "description": "Production API endpoint."
    }
  ],
  "tags": [
    {
      "name": "Organizations",
      "description": "An Organization represents a logical workspace that groups users, documents, and resources under a shared administrative domain. Organizations enable multi-tenant management by isolating data and permissions between different teams or companies. Each organization typically contains its own users, templates, envelopes, and settings, ensuring that activity and access remain scoped to that organization. Organizations are commonly used to support multiple teams, departments, or clients within a single platform.",
      "x-displayName": "Organizations"
    },
    {
      "name": "Envelopes",
      "description": "An envelope is a digital package that groups one or more documents together with their signing instructions, recipients, and metadata for the purpose of routing, signing, and tracking the documents in an electronic signature workflow.",
      "x-displayName": "Envelopes"
    },
    {
      "name": "Envelope Documents",
      "description": "The files that need to be signed or reviewed (PDFs, contracts, etc.), within an envelope.",
      "x-displayName": "Envelope Documents"
    },
    {
      "name": "Signatures and Initials",
      "description": "Signatures & Initials are the visual marks applied by recipients to indicate approval or acknowledgment of a document. A signature represents a recipient’s full legal signature, while an initial is typically used to confirm review of specific sections or pages. In the Verdocs platform, signatures and initials are placed within designated signing fields in a document. When a recipient completes a signing step, the platform captures the signature or initials along with metadata such as the timestamp, signer identity, and audit trail information.",
      "x-displayName": "Signatures and Initials"
    },
    {
      "name": "API Keys",
      "description": "API keys are required when using Verdocs technpologies. Please log in to your account to view/generate your API Key.",
      "x-displayName": "API Keys"
    },
    {
      "name": "Organization Contacts",
      "description": "Endpoints for managing organization contacts",
      "x-displayName": "Organization Contacts"
    },
    {
      "name": "Organization Invitations",
      "description": "Endpoints for managing organization invitations",
      "x-displayName": "Organization Invitations"
    },
    {
      "name": "Organization Members",
      "description": "Endpoints for managing organization members",
      "x-displayName": "Organization Members"
    },
    {
      "name": "Webhooks",
      "description": "Webhooks are HTTP callbacks that notify external systems when specific events occur within the platform. Common events include document signing completion, envelope status changes, or recipient actions. Webhooks enable real-time integration with external applications, allowing automated workflows, notifications, and auditing.",
      "x-displayName": "Webhooks"
    },
    {
      "name": "Fields",
      "description": "Fields are interactive elements placed within a document that collect or display information during the signing process. Fields define where recipients must provide input or review information. Common field types include signature fields, initials, text inputs, dates, checkboxes, and dropdown selections. Fields can be assigned to specific recipients and may include validation rules, default values, or formatting constraints. Fields ensure that documents capture the required information and guide recipients through the signing workflow.",
      "x-displayName": "Fields"
    },
    {
      "name": "Roles",
      "description": "Roles define the permissions and responsibilities assigned to users or recipients within the system. Roles determine what actions a user can perform, such as creating envelopes, approving documents, managing templates, or accessing administrative settings. Assigning roles ensures that users only have access to the resources and actions appropriate for their responsibilities.",
      "x-displayName": "Roles"
    },
    {
      "name": "Template Documents",
      "description": "A Template Document is a single file included within a template that defines part of the content and structure for a signing workflow. Template documents can contain predefined fields, placeholders, and formatting that standardize the signing process. When a template is used to create an envelope, each template document is included in the signing transaction according to the template configuration.",
      "x-displayName": "Template Documents"
    },
    {
      "name": "Templates",
      "description": "A Template is a reusable document configuration that defines the structure of a signing workflow. Templates typically include one or more documents, predefined fields, recipient roles, and routing rules. By using templates, organizations can standardize frequently used agreements and automate document preparation. When a template is used, the platform generates a new signing transaction based on the template’s configuration, allowing documents to be sent for signature quickly and consistently.",
      "x-displayName": "Templates"
    },
    {
      "name": "Authentication",
      "description": "Endpoints for managing authentication",
      "x-displayName": "Authentication"
    },
    {
      "name": "Profiles",
      "description": "A Profile represents the personal or account information of a user within the platform. Profiles store data such as the user’s name, email, contact information, and preferences. Profiles are used to identify users in signing workflows, manage access, and personalize communications or notifications.",
      "x-displayName": "Profiles"
    }
  ],
  "paths": {
    "/v2/organization-invitations/accept": {
      "post": {
        "operationId": "acceptOrganizationInvitation",
        "summary": "Accept an invitation",
        "tags": [
          "Organization Invitations"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IAuthenticateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "error"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ERROR"
                      ],
                      "description": "Always set to \"ERROR\"."
                    },
                    "error": {
                      "type": "string",
                      "description": "Description of the error that occurred."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Access Denied",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "error"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ERROR"
                      ],
                      "description": "Always set to \"ERROR\"."
                    },
                    "error": {
                      "type": "string",
                      "description": "Description of the error that occurred."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "error"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ERROR"
                      ],
                      "description": "Always set to \"ERROR\"."
                    },
                    "error": {
                      "type": "string",
                      "description": "Description of the error that occurred."
                    }
                  }
                }
              }
            }
          },
          "406": {
            "description": "Invalid Parameter",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "error"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ERROR"
                      ],
                      "description": "Always set to \"ERROR\"."
                    },
                    "error": {
                      "type": "string",
                      "description": "Description of the error that occurred."
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "description": "Body Parameters",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "token",
                  "first_name",
                  "last_name",
                  "password"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "description": "Email address for the invitee"
                  },
                  "token": {
                    "type": "string",
                    "description": "Invite token for the invitee"
                  },
                  "first_name": {
                    "type": "string",
                    "description": "First name"
                  },
                  "last_name": {
                    "type": "string",
                    "description": "Last name"
                  },
                  "password": {
                    "type": "string",
                    "description": "Password"
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell",
            "label": "CURL",
            "source": "curl -X POST \"https://api.verdocs.com/v2/organization-invitations/accept\" \\\n    -H \"Authorization: Bearer ACCESS_TOKEN\" \\\n    -H \"content-type: application/json\" \\\n    -d '{\"param\": \"value\"}'"
          },
          {
            "lang": "TypeScript",
            "label": "NodeJS",
            "source": "import fetch from 'node-fetch';\n\nconst response = await fetch('https://api.verdocs.com/v2/organization-invitations/accept', {\n  method: 'post',\n  body: JSON.stringify(body),\n  headers: {\n    'Content-Type': 'application/json',\n    'Authorization: Bearer ACCESS_TOKEN'\n  },\n});\n\nconst data = await response.json();\nconsole.log(data);"
          },
          {
            "lang": "Ruby",
            "label": "Ruby",
            "source": "require 'uri'\nrequire 'net/http'\nrequire 'openssl'\n\nurl = URI(\"https://api.verdocs.com/v2/organization-invitations/accept\")\n\nhttp = Net::HTTP.new(url.host, url.port)\nhttp.use_ssl = true\n\nrequest = Net::HTTP::Post.new(url)\nrequest[\"content-type\"] = 'application/json'\nrequest[\"Authorization\"] = 'Bearer ACCESS_TOKEN'\n\nresponse = http.request(request)\nputs response.read_body"
          },
          {
            "lang": "Python",
            "label": "Python",
            "source": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.verdocs.com\")\nheaders = {\n    'content-type': \"application/json\",\n    'Authorization': \"Bearer ACCESS_TOKEN\"\n}\n\nconn.request(\"POST\", \"/v2/organization-invitations/accept\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\nprint(data.decode(\"utf-8\"))\n"
          },
          {
            "lang": "C#",
            "label": "C-Sharp",
            "source": "var client = new RestClient(\"https://api.verdocs.com/v2/organization-invitations/accept\");\nvar request = new RestRequest(Method.POST);\nrequest.AddHeader(\"content-type\", \"application/json\");\nrequest.AddHeader(\"Authorization\", \"Bearer ACCESS_TOKEN\");\n\nIRestResponse response = client.Execute(request);"
          },
          {
            "lang": "Java",
            "label": "Java",
            "source": "HttpResponse<String> response = Unirest.post(\"https://api.verdocs.com/v2/organization-invitations/accept\")\n  .header(\"content-type\", \"application/json\")\n  .header(\"Authorization\", \"Bearer ACCESS_TOKEN\")\n  .asString();"
          }
        ]
      }
    },
    "/envelopes/{envelope_id}/recipients/{role_name}/ask-question": {
      "post": {
        "operationId": "askQuestion",
        "summary": "Ask Sender a Question",
        "tags": [
          "Recipients"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "envelope_id",
            "description": "The envelope to operate on.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "in": "path",
            "name": "role_name",
            "description": "The role name to update.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Request Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "error"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ERROR"
                      ],
                      "description": "Always set to \"ERROR\"."
                    },
                    "error": {
                      "type": "string",
                      "description": "Description of the error that occurred."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Access Denied",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "error"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ERROR"
                      ],
                      "description": "Always set to \"ERROR\"."
                    },
                    "error": {
                      "type": "string",
                      "description": "Description of the error that occurred."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "error"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ERROR"
                      ],
                      "description": "Always set to \"ERROR\"."
                    },
                    "error": {
                      "type": "string",
                      "description": "Description of the error that occurred."
                    }
                  }
                }
              }
            }
          },
          "406": {
            "description": "Invalid Parameter",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "error"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ERROR"
                      ],
                      "description": "Always set to \"ERROR\"."
                    },
                    "error": {
                      "type": "string",
                      "description": "Description of the error that occurred."
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "description": "Body Parameters",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "question"
                ],
                "properties": {
                  "question": {
                    "type": "string",
                    "description": "The question to ask."
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell",
            "label": "CURL",
            "source": "curl -X POST \"https://api.verdocs.com/envelopes/ENVELOPE_ID/recipients/ROLE_NAME/ask-question\" \\\n    -H \"Authorization: Bearer ACCESS_TOKEN\" \\\n    -H \"content-type: application/json\" \\\n    -d '{\"param\": \"value\"}'"
          },
          {
            "lang": "TypeScript",
            "label": "NodeJS",
            "source": "import fetch from 'node-fetch';\n\nconst response = await fetch('https://api.verdocs.com/envelopes/ENVELOPE_ID/recipients/ROLE_NAME/ask-question', {\n  method: 'post',\n  body: JSON.stringify(body),\n  headers: {\n    'Content-Type': 'application/json',\n    'Authorization: Bearer ACCESS_TOKEN'\n  },\n});\n\nconst data = await response.json();\nconsole.log(data);"
          },
          {
            "lang": "Ruby",
            "label": "Ruby",
            "source": "require 'uri'\nrequire 'net/http'\nrequire 'openssl'\n\nurl = URI(\"https://api.verdocs.com/envelopes/ENVELOPE_ID/recipients/ROLE_NAME/ask-question\")\n\nhttp = Net::HTTP.new(url.host, url.port)\nhttp.use_ssl = true\n\nrequest = Net::HTTP::Post.new(url)\nrequest[\"content-type\"] = 'application/json'\nrequest[\"Authorization\"] = 'Bearer ACCESS_TOKEN'\n\nresponse = http.request(request)\nputs response.read_body"
          },
          {
            "lang": "Python",
            "label": "Python",
            "source": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.verdocs.com\")\nheaders = {\n    'content-type': \"application/json\",\n    'Authorization': \"Bearer ACCESS_TOKEN\"\n}\n\nconn.request(\"POST\", \"/envelopes/{envelope_id}/recipients/{role_name}/ask-question\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\nprint(data.decode(\"utf-8\"))\n"
          },
          {
            "lang": "C#",
            "label": "C-Sharp",
            "source": "var client = new RestClient(\"https://api.verdocs.com/envelopes/ENVELOPE_ID/recipients/ROLE_NAME/ask-question\");\nvar request = new RestRequest(Method.POST);\nrequest.AddHeader(\"content-type\", \"application/json\");\nrequest.AddHeader(\"Authorization\", \"Bearer ACCESS_TOKEN\");\n\nIRestResponse response = client.Execute(request);"
          },
          {
            "lang": "Java",
            "label": "Java",
            "source": "HttpResponse<String> response = Unirest.post(\"https://api.verdocs.com/envelopes/ENVELOPE_ID/recipients/ROLE_NAME/ask-question\")\n  .header(\"content-type\", \"application/json\")\n  .header(\"Authorization\", \"Bearer ACCESS_TOKEN\")\n  .asString();"
          }
        ]
      }
    },
    "/v2/oauth2/token": {
      "post": {
        "operationId": "authenticate",
        "summary": "Authenticate",
        "tags": [
          "Authentication"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IAuthenticateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "error"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ERROR"
                      ],
                      "description": "Always set to \"ERROR\"."
                    },
                    "error": {
                      "type": "string",
                      "description": "Description of the error that occurred."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Access Denied",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "error"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ERROR"
                      ],
                      "description": "Always set to \"ERROR\"."
                    },
                    "error": {
                      "type": "string",
                      "description": "Description of the error that occurred."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "error"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ERROR"
                      ],
                      "description": "Always set to \"ERROR\"."
                    },
                    "error": {
                      "type": "string",
                      "description": "Description of the error that occurred."
                    }
                  }
                }
              }
            }
          },
          "406": {
            "description": "Invalid Parameter",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "error"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ERROR"
                      ],
                      "description": "Always set to \"ERROR\"."
                    },
                    "error": {
                      "type": "string",
                      "description": "Description of the error that occurred."
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "description": "Body Parameters",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "grant_type"
                ],
                "properties": {
                  "grant_type": {
                    "type": "string",
                    "enum": [
                      "client_credentials",
                      "refresh_token",
                      "password"
                    ],
                    "description": "The type of grant to request. API callers should nearly always use 'client_credentials'."
                  },
                  "client_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "If grant_type is client_credentials or refresh_token, the client ID of the API key to use."
                  },
                  "client_secret": {
                    "type": "string",
                    "format": "uuid",
                    "description": "If grant_type is client_credentials, the secret key of the API key to use."
                  },
                  "username": {
                    "type": "string",
                    "description": "If grant_type is password, the username to authenticate with."
                  },
                  "password": {
                    "type": "string",
                    "description": "If grant_type is password, the password to authenticate with."
                  },
                  "scope": {
                    "type": "string",
                    "description": "Optional scope to limit the auth token to. Do not specify this unless you are instructed to by a Verdocs Support rep."
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell",
            "label": "CURL",
            "source": "curl -X POST \"https://api.verdocs.com/v2/oauth2/token\" \\\n    -H \"Authorization: Bearer ACCESS_TOKEN\" \\\n    -H \"content-type: application/json\" \\\n    -d '{\"param\": \"value\"}'"
          },
          {
            "lang": "TypeScript",
            "label": "NodeJS",
            "source": "import fetch from 'node-fetch';\n\nconst response = await fetch('https://api.verdocs.com/v2/oauth2/token', {\n  method: 'post',\n  body: JSON.stringify(body),\n  headers: {\n    'Content-Type': 'application/json',\n    'Authorization: Bearer ACCESS_TOKEN'\n  },\n});\n\nconst data = await response.json();\nconsole.log(data);"
          },
          {
            "lang": "Ruby",
            "label": "Ruby",
            "source": "require 'uri'\nrequire 'net/http'\nrequire 'openssl'\n\nurl = URI(\"https://api.verdocs.com/v2/oauth2/token\")\n\nhttp = Net::HTTP.new(url.host, url.port)\nhttp.use_ssl = true\n\nrequest = Net::HTTP::Post.new(url)\nrequest[\"content-type\"] = 'application/json'\nrequest[\"Authorization\"] = 'Bearer ACCESS_TOKEN'\n\nresponse = http.request(request)\nputs response.read_body"
          },
          {
            "lang": "Python",
            "label": "Python",
            "source": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.verdocs.com\")\nheaders = {\n    'content-type': \"application/json\",\n    'Authorization': \"Bearer ACCESS_TOKEN\"\n}\n\nconn.request(\"POST\", \"/v2/oauth2/token\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\nprint(data.decode(\"utf-8\"))\n"
          },
          {
            "lang": "C#",
            "label": "C-Sharp",
            "source": "var client = new RestClient(\"https://api.verdocs.com/v2/oauth2/token\");\nvar request = new RestRequest(Method.POST);\nrequest.AddHeader(\"content-type\", \"application/json\");\nrequest.AddHeader(\"Authorization\", \"Bearer ACCESS_TOKEN\");\n\nIRestResponse response = client.Execute(request);"
          },
          {
            "lang": "Java",
            "label": "Java",
            "source": "HttpResponse<String> response = Unirest.post(\"https://api.verdocs.com/v2/oauth2/token\")\n  .header(\"content-type\", \"application/json\")\n  .header(\"Authorization\", \"Bearer ACCESS_TOKEN\")\n  .asString();"
          }
        ]
      }
    },
    "/v2/envelopes/{id}": {
      "put": {
        "operationId": "cancelEnvelope",
        "summary": "Cancel envelope",
        "tags": [
          "Envelopes"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "The ID of the envelope to cancel.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Request Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "error"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ERROR"
                      ],
                      "description": "Always set to \"ERROR\"."
                    },
                    "error": {
                      "type": "string",
                      "description": "Description of the error that occurred."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Access Denied",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "error"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ERROR"
                      ],
                      "description": "Always set to \"ERROR\"."
                    },
                    "error": {
                      "type": "string",
                      "description": "Description of the error that occurred."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "error"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ERROR"
                      ],
                      "description": "Always set to \"ERROR\"."
                    },
                    "error": {
                      "type": "string",
                      "description": "Description of the error that occurred."
                    }
                  }
                }
              }
            }
          },
          "406": {
            "description": "Invalid Parameter",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "error"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ERROR"
                      ],
                      "description": "Always set to \"ERROR\"."
                    },
                    "error": {
                      "type": "string",
                      "description": "Description of the error that occurred."
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "description": "Body Parameters",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "action"
                ],
                "properties": {
                  "action": {
                    "type": "string",
                    "enum": [
                      "cancel"
                    ],
                    "description": "The action to perform (currently only \"cancel\" is supported)."
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell",
            "label": "CURL",
            "source": "curl -X PUT \"https://api.verdocs.com/v2/envelopes/ID\" \\\n    -H \"Authorization: Bearer ACCESS_TOKEN\" \\\n    -H \"content-type: application/json\" \\\n    -d '{\"param\": \"value\"}'"
          },
          {
            "lang": "TypeScript",
            "label": "NodeJS",
            "source": "import fetch from 'node-fetch';\n\nconst response = await fetch('https://api.verdocs.com/v2/envelopes/ID', {\n  method: 'put',\n  body: JSON.stringify(body),\n  headers: {\n    'Content-Type': 'application/json',\n    'Authorization: Bearer ACCESS_TOKEN'\n  },\n});\n\nconst data = await response.json();\nconsole.log(data);"
          },
          {
            "lang": "Ruby",
            "label": "Ruby",
            "source": "require 'uri'\nrequire 'net/http'\nrequire 'openssl'\n\nurl = URI(\"https://api.verdocs.com/v2/envelopes/ID\")\n\nhttp = Net::HTTP.new(url.host, url.port)\nhttp.use_ssl = true\n\nrequest = Net::HTTP::Put.new(url)\nrequest[\"content-type\"] = 'application/json'\nrequest[\"Authorization\"] = 'Bearer ACCESS_TOKEN'\n\nresponse = http.request(request)\nputs response.read_body"
          },
          {
            "lang": "Python",
            "label": "Python",
            "source": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.verdocs.com\")\nheaders = {\n    'content-type': \"application/json\",\n    'Authorization': \"Bearer ACCESS_TOKEN\"\n}\n\nconn.request(\"PUT\", \"/v2/envelopes/{id}\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\nprint(data.decode(\"utf-8\"))\n"
          },
          {
            "lang": "C#",
            "label": "C-Sharp",
            "source": "var client = new RestClient(\"https://api.verdocs.com/v2/envelopes/ID\");\nvar request = new RestRequest(Method.PUT);\nrequest.AddHeader(\"content-type\", \"application/json\");\nrequest.AddHeader(\"Authorization\", \"Bearer ACCESS_TOKEN\");\n\nIRestResponse response = client.Execute(request);"
          },
          {
            "lang": "Java",
            "label": "Java",
            "source": "HttpResponse<String> response = Unirest.put(\"https://api.verdocs.com/v2/envelopes/ID\")\n  .header(\"content-type\", \"application/json\")\n  .header(\"Authorization\", \"Bearer ACCESS_TOKEN\")\n  .asString();"
          }
        ]
      },
      "get": {
        "operationId": "getEnvelope",
        "summary": "Get envelope details",
        "tags": [
          "Envelopes"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "The ID of the envelope to retrieve.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Request Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "error"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ERROR"
                      ],
                      "description": "Always set to \"ERROR\"."
                    },
                    "error": {
                      "type": "string",
                      "description": "Description of the error that occurred."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Access Denied",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "error"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ERROR"
                      ],
                      "description": "Always set to \"ERROR\"."
                    },
                    "error": {
                      "type": "string",
                      "description": "Description of the error that occurred."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "error"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ERROR"
                      ],
                      "description": "Always set to \"ERROR\"."
                    },
                    "error": {
                      "type": "string",
                      "description": "Description of the error that occurred."
                    }
                  }
                }
              }
            }
          },
          "406": {
            "description": "Invalid Parameter",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "error"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ERROR"
                      ],
                      "description": "Always set to \"ERROR\"."
                    },
                    "error": {
                      "type": "string",
                      "description": "Description of the error that occurred."
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell",
            "label": "CURL",
            "source": "curl -X GET \"https://api.verdocs.com/v2/envelopes/ID\" \\\n    -H \"Authorization: Bearer ACCESS_TOKEN\" \\\n    -H \"content-type: application/json\" \\\n    -d '{\"param\": \"value\"}'"
          },
          {
            "lang": "TypeScript",
            "label": "NodeJS",
            "source": "import fetch from 'node-fetch';\n\nconst response = await fetch('https://api.verdocs.com/v2/envelopes/ID', { \n  headers: {\n    'Content-Type': 'application/json',\n    'Authorization: Bearer ACCESS_TOKEN'\n  } \n});\nconst data = await response.json();\nconsole.log(data);"
          },
          {
            "lang": "Ruby",
            "label": "Ruby",
            "source": "require 'uri'\nrequire 'net/http'\nrequire 'openssl'\n\nurl = URI(\"https://api.verdocs.com/v2/envelopes/ID\")\n\nhttp = Net::HTTP.new(url.host, url.port)\nhttp.use_ssl = true\n\nrequest = Net::HTTP::Get.new(url)\nrequest[\"content-type\"] = 'application/json'\nrequest[\"Authorization\"] = 'Bearer ACCESS_TOKEN'\n\nresponse = http.request(request)\nputs response.read_body"
          },
          {
            "lang": "Python",
            "label": "Python",
            "source": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.verdocs.com\")\nheaders = {\n    'content-type': \"application/json\",\n    'Authorization': \"Bearer ACCESS_TOKEN\"\n}\n\nconn.request(\"GET\", \"/v2/envelopes/{id}\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\nprint(data.decode(\"utf-8\"))\n"
          },
          {
            "lang": "C#",
            "label": "C-Sharp",
            "source": "var client = new RestClient(\"https://api.verdocs.com/v2/envelopes/ID\");\nvar request = new RestRequest(Method.GET);\nrequest.AddHeader(\"content-type\", \"application/json\");\nrequest.AddHeader(\"Authorization\", \"Bearer ACCESS_TOKEN\");\n\nIRestResponse response = client.Execute(request);"
          },
          {
            "lang": "Java",
            "label": "Java",
            "source": "HttpResponse<String> response = Unirest.get(\"https://api.verdocs.com/v2/envelopes/ID\")\n  .header(\"content-type\", \"application/json\")\n  .header(\"Authorization\", \"Bearer ACCESS_TOKEN\")\n  .asString();"
          }
        ]
      },
      "patch": {
        "operationId": "updateEnvelope",
        "summary": "Update Envelope",
        "tags": [
          "Envelopes"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "The ID of the envelope to update.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Request Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "error"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ERROR"
                      ],
                      "description": "Always set to \"ERROR\"."
                    },
                    "error": {
                      "type": "string",
                      "description": "Description of the error that occurred."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Access Denied",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "error"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ERROR"
                      ],
                      "description": "Always set to \"ERROR\"."
                    },
                    "error": {
                      "type": "string",
                      "description": "Description of the error that occurred."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "error"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ERROR"
                      ],
                      "description": "Always set to \"ERROR\"."
                    },
                    "error": {
                      "type": "string",
                      "description": "Description of the error that occurred."
                    }
                  }
                }
              }
            }
          },
          "406": {
            "description": "Invalid Parameter",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "error"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ERROR"
                      ],
                      "description": "Always set to \"ERROR\"."
                    },
                    "error": {
                      "type": "string",
                      "description": "Description of the error that occurred."
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "description": "Body Parameters",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "New name for the envelope"
                  },
                  "sender_name": {
                    "type": "string",
                    "description": "New Sender Name for the envelope"
                  },
                  "sender_email": {
                    "type": "string",
                    "description": "New Sender Email for the envelope"
                  },
                  "initial_reminder": {
                    "type": "integer",
                    "description": "Change the initial-reminder setting (in ms)."
                  },
                  "followup_reminders": {
                    "type": "integer",
                    "description": "Change the followup-reminder setting (in ms)."
                  },
                  "max_reminder_days": {
                    "type": "number",
                    "description": "Maximum number of days (after envelope creation) for which reminders will be sent. Defaults to 14."
                  },
                  "expires_at": {
                    "type": "string",
                    "description": "If set, the envelope will automatically expire (be canceled) at this date and time. Expirations must be at least 1 day in the future."
                  },
                  "visibility": {
                    "type": "string",
                    "enum": [
                      "private",
                      "shared"
                    ],
                    "description": "Change the envelope's visibility setting"
                  },
                  "no_contact": {
                    "type": "boolean",
                    "description": "If set to true, no email or SMS messages will be sent to any recipients."
                  },
                  "data": {
                    "type": "object",
                    "description": "Update the developer-supplied metadata attached to the envelope."
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell",
            "label": "CURL",
            "source": "curl -X PATCH \"https://api.verdocs.com/v2/envelopes/ID\" \\\n    -H \"Authorization: Bearer ACCESS_TOKEN\" \\\n    -H \"content-type: application/json\" \\\n    -d '{\"param\": \"value\"}'"
          },
          {
            "lang": "TypeScript",
            "label": "NodeJS",
            "source": "import fetch from 'node-fetch';\n\nconst response = await fetch('https://api.verdocs.com/v2/envelopes/ID', {\n  method: 'patch',\n  body: JSON.stringify(body),\n  headers: {\n    'Content-Type': 'application/json',\n    'Authorization: Bearer ACCESS_TOKEN'\n  },\n});\n\nconst data = await response.json();\nconsole.log(data);"
          },
          {
            "lang": "Ruby",
            "label": "Ruby",
            "source": "require 'uri'\nrequire 'net/http'\nrequire 'openssl'\n\nurl = URI(\"https://api.verdocs.com/v2/envelopes/ID\")\n\nhttp = Net::HTTP.new(url.host, url.port)\nhttp.use_ssl = true\n\nrequest = Net::HTTP::Patch.new(url)\nrequest[\"content-type\"] = 'application/json'\nrequest[\"Authorization\"] = 'Bearer ACCESS_TOKEN'\n\nresponse = http.request(request)\nputs response.read_body"
          },
          {
            "lang": "Python",
            "label": "Python",
            "source": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.verdocs.com\")\nheaders = {\n    'content-type': \"application/json\",\n    'Authorization': \"Bearer ACCESS_TOKEN\"\n}\n\nconn.request(\"PATCH\", \"/v2/envelopes/{id}\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\nprint(data.decode(\"utf-8\"))\n"
          },
          {
            "lang": "C#",
            "label": "C-Sharp",
            "source": "var client = new RestClient(\"https://api.verdocs.com/v2/envelopes/ID\");\nvar request = new RestRequest(Method.PATCH);\nrequest.AddHeader(\"content-type\", \"application/json\");\nrequest.AddHeader(\"Authorization\", \"Bearer ACCESS_TOKEN\");\n\nIRestResponse response = client.Execute(request);"
          },
          {
            "lang": "Java",
            "label": "Java",
            "source": "HttpResponse<String> response = Unirest.patch(\"https://api.verdocs.com/v2/envelopes/ID\")\n  .header(\"content-type\", \"application/json\")\n  .header(\"Authorization\", \"Bearer ACCESS_TOKEN\")\n  .asString();"
          }
        ]
      }
    },
    "/v2/users/change-password": {
      "post": {
        "operationId": "changePassword",
        "summary": "Change the caller's password",
        "tags": [
          "Authentication"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Request Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "error"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ERROR"
                      ],
                      "description": "Always set to \"ERROR\"."
                    },
                    "error": {
                      "type": "string",
                      "description": "Description of the error that occurred."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Access Denied",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "error"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ERROR"
                      ],
                      "description": "Always set to \"ERROR\"."
                    },
                    "error": {
                      "type": "string",
                      "description": "Description of the error that occurred."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "error"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ERROR"
                      ],
                      "description": "Always set to \"ERROR\"."
                    },
                    "error": {
                      "type": "string",
                      "description": "Description of the error that occurred."
                    }
                  }
                }
              }
            }
          },
          "406": {
            "description": "Invalid Parameter",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "error"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ERROR"
                      ],
                      "description": "Always set to \"ERROR\"."
                    },
                    "error": {
                      "type": "string",
                      "description": "Description of the error that occurred."
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "description": "Body Parameters",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "old_password",
                  "new_password"
                ],
                "properties": {
                  "old_password": {
                    "type": "string",
                    "description": "Current password for the caller"
                  },
                  "new_password": {
                    "type": "string",
                    "description": "New password to set for the caller. Must meet strength requirements."
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell",
            "label": "CURL",
            "source": "curl -X POST \"https://api.verdocs.com/v2/users/change-password\" \\\n    -H \"Authorization: Bearer ACCESS_TOKEN\" \\\n    -H \"content-type: application/json\" \\\n    -d '{\"param\": \"value\"}'"
          },
          {
            "lang": "TypeScript",
            "label": "NodeJS",
            "source": "import fetch from 'node-fetch';\n\nconst response = await fetch('https://api.verdocs.com/v2/users/change-password', {\n  method: 'post',\n  body: JSON.stringify(body),\n  headers: {\n    'Content-Type': 'application/json',\n    'Authorization: Bearer ACCESS_TOKEN'\n  },\n});\n\nconst data = await response.json();\nconsole.log(data);"
          },
          {
            "lang": "Ruby",
            "label": "Ruby",
            "source": "require 'uri'\nrequire 'net/http'\nrequire 'openssl'\n\nurl = URI(\"https://api.verdocs.com/v2/users/change-password\")\n\nhttp = Net::HTTP.new(url.host, url.port)\nhttp.use_ssl = true\n\nrequest = Net::HTTP::Post.new(url)\nrequest[\"content-type\"] = 'application/json'\nrequest[\"Authorization\"] = 'Bearer ACCESS_TOKEN'\n\nresponse = http.request(request)\nputs response.read_body"
          },
          {
            "lang": "Python",
            "label": "Python",
            "source": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.verdocs.com\")\nheaders = {\n    'content-type': \"application/json\",\n    'Authorization': \"Bearer ACCESS_TOKEN\"\n}\n\nconn.request(\"POST\", \"/v2/users/change-password\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\nprint(data.decode(\"utf-8\"))\n"
          },
          {
            "lang": "C#",
            "label": "C-Sharp",
            "source": "var client = new RestClient(\"https://api.verdocs.com/v2/users/change-password\");\nvar request = new RestRequest(Method.POST);\nrequest.AddHeader(\"content-type\", \"application/json\");\nrequest.AddHeader(\"Authorization\", \"Bearer ACCESS_TOKEN\");\n\nIRestResponse response = client.Execute(request);"
          },
          {
            "lang": "Java",
            "label": "Java",
            "source": "HttpResponse<String> response = Unirest.post(\"https://api.verdocs.com/v2/users/change-password\")\n  .header(\"content-type\", \"application/json\")\n  .header(\"Authorization\", \"Bearer ACCESS_TOKEN\")\n  .asString();"
          }
        ]
      }
    },
    "/v2/api-keys": {
      "post": {
        "operationId": "createApiKey",
        "summary": "Create API key",
        "tags": [
          "API Keys"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IApiKey"
                }
              }
            }
          },
          "400": {
            "description": "Request Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "error"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ERROR"
                      ],
                      "description": "Always set to \"ERROR\"."
                    },
                    "error": {
                      "type": "string",
                      "description": "Description of the error that occurred."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Access Denied",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "error"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ERROR"
                      ],
                      "description": "Always set to \"ERROR\"."
                    },
                    "error": {
                      "type": "string",
                      "description": "Description of the error that occurred."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "error"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ERROR"
                      ],
                      "description": "Always set to \"ERROR\"."
                    },
                    "error": {
                      "type": "string",
                      "description": "Description of the error that occurred."
                    }
                  }
                }
              }
            }
          },
          "406": {
            "description": "Invalid Parameter",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "error"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ERROR"
                      ],
                      "description": "Always set to \"ERROR\"."
                    },
                    "error": {
                      "type": "string",
                      "description": "Description of the error that occurred."
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "description": "Body Parameters",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "profile_id",
                  "permission"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "A name used to identify the key in the Verdocs Web App"
                  },
                  "profile_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "The profile ID that calls made using the key will act as"
                  },
                  "permission": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "An array of permissions to assign to the new key. Extends (but does not override) the API key's profile permissions."
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell",
            "label": "CURL",
            "source": "curl -X POST \"https://api.verdocs.com/v2/api-keys\" \\\n    -H \"Authorization: Bearer ACCESS_TOKEN\" \\\n    -H \"content-type: application/json\" \\\n    -d '{\"param\": \"value\"}'"
          },
          {
            "lang": "TypeScript",
            "label": "NodeJS",
            "source": "import fetch from 'node-fetch';\n\nconst response = await fetch('https://api.verdocs.com/v2/api-keys', {\n  method: 'post',\n  body: JSON.stringify(body),\n  headers: {\n    'Content-Type': 'application/json',\n    'Authorization: Bearer ACCESS_TOKEN'\n  },\n});\n\nconst data = await response.json();\nconsole.log(data);"
          },
          {
            "lang": "Ruby",
            "label": "Ruby",
            "source": "require 'uri'\nrequire 'net/http'\nrequire 'openssl'\n\nurl = URI(\"https://api.verdocs.com/v2/api-keys\")\n\nhttp = Net::HTTP.new(url.host, url.port)\nhttp.use_ssl = true\n\nrequest = Net::HTTP::Post.new(url)\nrequest[\"content-type\"] = 'application/json'\nrequest[\"Authorization\"] = 'Bearer ACCESS_TOKEN'\n\nresponse = http.request(request)\nputs response.read_body"
          },
          {
            "lang": "Python",
            "label": "Python",
            "source": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.verdocs.com\")\nheaders = {\n    'content-type': \"application/json\",\n    'Authorization': \"Bearer ACCESS_TOKEN\"\n}\n\nconn.request(\"POST\", \"/v2/api-keys\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\nprint(data.decode(\"utf-8\"))\n"
          },
          {
            "lang": "C#",
            "label": "C-Sharp",
            "source": "var client = new RestClient(\"https://api.verdocs.com/v2/api-keys\");\nvar request = new RestRequest(Method.POST);\nrequest.AddHeader(\"content-type\", \"application/json\");\nrequest.AddHeader(\"Authorization\", \"Bearer ACCESS_TOKEN\");\n\nIRestResponse response = client.Execute(request);"
          },
          {
            "lang": "Java",
            "label": "Java",
            "source": "HttpResponse<String> response = Unirest.post(\"https://api.verdocs.com/v2/api-keys\")\n  .header(\"content-type\", \"application/json\")\n  .header(\"Authorization\", \"Bearer ACCESS_TOKEN\")\n  .asString();"
          }
        ]
      },
      "get": {
        "operationId": "getApiKeys",
        "summary": "Get API keys",
        "tags": [
          "API Keys"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IApiKey"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Request Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "error"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ERROR"
                      ],
                      "description": "Always set to \"ERROR\"."
                    },
                    "error": {
                      "type": "string",
                      "description": "Description of the error that occurred."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Access Denied",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "error"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ERROR"
                      ],
                      "description": "Always set to \"ERROR\"."
                    },
                    "error": {
                      "type": "string",
                      "description": "Description of the error that occurred."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "error"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ERROR"
                      ],
                      "description": "Always set to \"ERROR\"."
                    },
                    "error": {
                      "type": "string",
                      "description": "Description of the error that occurred."
                    }
                  }
                }
              }
            }
          },
          "406": {
            "description": "Invalid Parameter",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "error"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ERROR"
                      ],
                      "description": "Always set to \"ERROR\"."
                    },
                    "error": {
                      "type": "string",
                      "description": "Description of the error that occurred."
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell",
            "label": "CURL",
            "source": "curl -X GET \"https://api.verdocs.com/v2/api-keys\" \\\n    -H \"Authorization: Bearer ACCESS_TOKEN\" \\\n    -H \"content-type: application/json\" \\\n    -d '{\"param\": \"value\"}'"
          },
          {
            "lang": "TypeScript",
            "label": "NodeJS",
            "source": "import fetch from 'node-fetch';\n\nconst response = await fetch('https://api.verdocs.com/v2/api-keys', { \n  headers: {\n    'Content-Type': 'application/json',\n    'Authorization: Bearer ACCESS_TOKEN'\n  } \n});\nconst data = await response.json();\nconsole.log(data);"
          },
          {
            "lang": "Ruby",
            "label": "Ruby",
            "source": "require 'uri'\nrequire 'net/http'\nrequire 'openssl'\n\nurl = URI(\"https://api.verdocs.com/v2/api-keys\")\n\nhttp = Net::HTTP.new(url.host, url.port)\nhttp.use_ssl = true\n\nrequest = Net::HTTP::Get.new(url)\nrequest[\"content-type\"] = 'application/json'\nrequest[\"Authorization\"] = 'Bearer ACCESS_TOKEN'\n\nresponse = http.request(request)\nputs response.read_body"
          },
          {
            "lang": "Python",
            "label": "Python",
            "source": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.verdocs.com\")\nheaders = {\n    'content-type': \"application/json\",\n    'Authorization': \"Bearer ACCESS_TOKEN\"\n}\n\nconn.request(\"GET\", \"/v2/api-keys\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\nprint(data.decode(\"utf-8\"))\n"
          },
          {
            "lang": "C#",
            "label": "C-Sharp",
            "source": "var client = new RestClient(\"https://api.verdocs.com/v2/api-keys\");\nvar request = new RestRequest(Method.GET);\nrequest.AddHeader(\"content-type\", \"application/json\");\nrequest.AddHeader(\"Authorization\", \"Bearer ACCESS_TOKEN\");\n\nIRestResponse response = client.Execute(request);"
          },
          {
            "lang": "Java",
            "label": "Java",
            "source": "HttpResponse<String> response = Unirest.get(\"https://api.verdocs.com/v2/api-keys\")\n  .header(\"content-type\", \"application/json\")\n  .header(\"Authorization\", \"Bearer ACCESS_TOKEN\")\n  .asString();"
          }
        ]
      }
    },
    "/v2/envelopes": {
      "post": {
        "operationId": "createEnvelope",
        "summary": "Create Envelope",
        "tags": [
          "Envelopes"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Request Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "error"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ERROR"
                      ],
                      "description": "Always set to \"ERROR\"."
                    },
                    "error": {
                      "type": "string",
                      "description": "Description of the error that occurred."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Access Denied",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "error"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ERROR"
                      ],
                      "description": "Always set to \"ERROR\"."
                    },
                    "error": {
                      "type": "string",
                      "description": "Description of the error that occurred."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "error"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ERROR"
                      ],
                      "description": "Always set to \"ERROR\"."
                    },
                    "error": {
                      "type": "string",
                      "description": "Description of the error that occurred."
                    }
                  }
                }
              }
            }
          },
          "406": {
            "description": "Invalid Parameter",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "error"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ERROR"
                      ],
                      "description": "Always set to \"ERROR\"."
                    },
                    "error": {
                      "type": "string",
                      "description": "Description of the error that occurred."
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "description": "Body Parameters",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "template_id",
                  "recipients"
                ],
                "properties": {
                  "template_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "If using a template, the ID of the template to copy"
                  },
                  "recipients": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/ICreateEnvelopeRecipientDirectly"
                    },
                    "description": "A list of recipients to include in the workflow. Must specify one recipient to match each template Role."
                  },
                  "documents": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/IEnvelopeDocument"
                    },
                    "description": "If not using a template, a list of documents to include in the envelope."
                  },
                  "fields": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/IEnvelopeField"
                    },
                    "description": "If not using a template, a list of fields to include in the envelope."
                  },
                  "name": {
                    "type": "string",
                    "description": "Override the name of the envelope (defaults to the template name)."
                  },
                  "description": {
                    "type": "string",
                    "description": "Override the description of the envelope (defaults to the template description)."
                  },
                  "no_contact": {
                    "type": "boolean",
                    "description": "If set to true, no email or SMS messages will be sent to any recipients."
                  },
                  "initial_reminder": {
                    "type": "integer",
                    "description": "Override the template initial-reminder setting in ms."
                  },
                  "followup_reminders": {
                    "type": "integer",
                    "description": "Override the template initial-reminder setting in ms."
                  },
                  "max_reminder_days": {
                    "type": "number",
                    "description": "Maximum number of days (after envelope creation) for which reminders will be sent. Defaults to 14."
                  },
                  "expires_at": {
                    "type": "string",
                    "description": "If set, the envelope will automatically expire (be canceled) at this date and time. Expirations must be at least 1 day in the future."
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell",
            "label": "CURL",
            "source": "curl -X POST \"https://api.verdocs.com/v2/envelopes\" \\\n    -H \"Authorization: Bearer ACCESS_TOKEN\" \\\n    -H \"content-type: application/json\" \\\n    -d '{\"param\": \"value\"}'"
          },
          {
            "lang": "TypeScript",
            "label": "NodeJS",
            "source": "import fetch from 'node-fetch';\n\nconst response = await fetch('https://api.verdocs.com/v2/envelopes', {\n  method: 'post',\n  body: JSON.stringify(body),\n  headers: {\n    'Content-Type': 'application/json',\n    'Authorization: Bearer ACCESS_TOKEN'\n  },\n});\n\nconst data = await response.json();\nconsole.log(data);"
          },
          {
            "lang": "Ruby",
            "label": "Ruby",
            "source": "require 'uri'\nrequire 'net/http'\nrequire 'openssl'\n\nurl = URI(\"https://api.verdocs.com/v2/envelopes\")\n\nhttp = Net::HTTP.new(url.host, url.port)\nhttp.use_ssl = true\n\nrequest = Net::HTTP::Post.new(url)\nrequest[\"content-type\"] = 'application/json'\nrequest[\"Authorization\"] = 'Bearer ACCESS_TOKEN'\n\nresponse = http.request(request)\nputs response.read_body"
          },
          {
            "lang": "Python",
            "label": "Python",
            "source": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.verdocs.com\")\nheaders = {\n    'content-type': \"application/json\",\n    'Authorization': \"Bearer ACCESS_TOKEN\"\n}\n\nconn.request(\"POST\", \"/v2/envelopes\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\nprint(data.decode(\"utf-8\"))\n"
          },
          {
            "lang": "C#",
            "label": "C-Sharp",
            "source": "var client = new RestClient(\"https://api.verdocs.com/v2/envelopes\");\nvar request = new RestRequest(Method.POST);\nrequest.AddHeader(\"content-type\", \"application/json\");\nrequest.AddHeader(\"Authorization\", \"Bearer ACCESS_TOKEN\");\n\nIRestResponse response = client.Execute(request);"
          },
          {
            "lang": "Java",
            "label": "Java",
            "source": "HttpResponse<String> response = Unirest.post(\"https://api.verdocs.com/v2/envelopes\")\n  .header(\"content-type\", \"application/json\")\n  .header(\"Authorization\", \"Bearer ACCESS_TOKEN\")\n  .asString();"
          }
        ]
      },
      "get": {
        "operationId": "getEnvelopes",
        "summary": "List envelopes",
        "tags": [
          "Envelopes"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "q",
            "description": "Match envelopes whose name contains this string",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "view",
            "description": "Request pre-defined view. `inbox` returns envelopes where action is required by the caller. `sent` returns envelopes created by the caller. `action` returns envelopes where action is required by the caller. `waiting` returns envelopes where action is required by anyone. `completed` returns envelopes where all actions are complete.",
            "schema": {
              "type": "string",
              "enum": [
                "inbox",
                "sent",
                "action",
                "waiting",
                "completed"
              ]
            }
          },
          {
            "in": "query",
            "name": "status",
            "description": "Match envelopes in one of the specified states.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "complete",
                  "pending",
                  "in progress",
                  "declined",
                  "canceled"
                ]
              }
            }
          },
          {
            "in": "query",
            "name": "include_org",
            "description": "If true, include organizations-shared envelopes",
            "schema": {
              "type": "boolean",
              "default": "false"
            }
          },
          {
            "in": "query",
            "name": "template_id",
            "description": "Match envelopes created from the specified template ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "in": "query",
            "name": "created_before",
            "description": "Match envelopes created before this date",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "in": "query",
            "name": "created_after",
            "description": "Match envelopes created after this date",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "in": "query",
            "name": "sort_by",
            "description": "Return results sorted by this criteria",
            "schema": {
              "type": "string",
              "enum": [
                "name",
                "created_at",
                "updated_at",
                "canceled_at",
                "status"
              ]
            }
          },
          {
            "in": "query",
            "name": "ascending",
            "description": "Set true/false to override the sort direction. Note that the default depends on `sort_by`. Date-based sorts default to descending, while name and status default to ascending.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "rows",
            "description": "Limit the number of rows returned",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "in": "query",
            "name": "page",
            "description": "Specify which page of results to return",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "description": "The total number of records matching the query, helpful for pagination",
                      "type": "integer",
                      "format": "int32"
                    },
                    "rows": {
                      "description": "The number of rows returned in this response page",
                      "type": "integer",
                      "format": "int32"
                    },
                    "page": {
                      "description": "The page number of this response",
                      "type": "integer",
                      "format": "int32"
                    },
                    "envelopes": {
                      "description": "List of envelopes found",
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/IEnvelope"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Request Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "error"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ERROR"
                      ],
                      "description": "Always set to \"ERROR\"."
                    },
                    "error": {
                      "type": "string",
                      "description": "Description of the error that occurred."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Access Denied",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "error"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ERROR"
                      ],
                      "description": "Always set to \"ERROR\"."
                    },
                    "error": {
                      "type": "string",
                      "description": "Description of the error that occurred."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "error"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ERROR"
                      ],
                      "description": "Always set to \"ERROR\"."
                    },
                    "error": {
                      "type": "string",
                      "description": "Description of the error that occurred."
                    }
                  }
                }
              }
            }
          },
          "406": {
            "description": "Invalid Parameter",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "error"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ERROR"
                      ],
                      "description": "Always set to \"ERROR\"."
                    },
                    "error": {
                      "type": "string",
                      "description": "Description of the error that occurred."
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell",
            "label": "CURL",
            "source": "curl -X GET \"https://api.verdocs.com/v2/envelopes?param=value\" \\\n    -H \"Authorization: Bearer ACCESS_TOKEN\" \\\n    -H \"content-type: application/json\" \\\n    -d '{\"param\": \"value\"}'"
          },
          {
            "lang": "TypeScript",
            "label": "NodeJS",
            "source": "import fetch from 'node-fetch';\n\nconst response = await fetch('https://api.verdocs.com/v2/envelopes?param=value', { \n  headers: {\n    'Content-Type': 'application/json',\n    'Authorization: Bearer ACCESS_TOKEN'\n  } \n});\nconst data = await response.json();\nconsole.log(data);"
          },
          {
            "lang": "Ruby",
            "label": "Ruby",
            "source": "require 'uri'\nrequire 'net/http'\nrequire 'openssl'\n\nurl = URI(\"https://api.verdocs.com/v2/envelopes?param=value\")\n\nhttp = Net::HTTP.new(url.host, url.port)\nhttp.use_ssl = true\n\nrequest = Net::HTTP::Get.new(url)\nrequest[\"content-type\"] = 'application/json'\nrequest[\"Authorization\"] = 'Bearer ACCESS_TOKEN'\n\nresponse = http.request(request)\nputs response.read_body"
          },
          {
            "lang": "Python",
            "label": "Python",
            "source": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.verdocs.com\")\nheaders = {\n    'content-type': \"application/json\",\n    'Authorization': \"Bearer ACCESS_TOKEN\"\n}\n\nconn.request(\"GET\", \"/v2/envelopes\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\nprint(data.decode(\"utf-8\"))\n"
          },
          {
            "lang": "C#",
            "label": "C-Sharp",
            "source": "var client = new RestClient(\"https://api.verdocs.com/v2/envelopes?param=value\");\nvar request = new RestRequest(Method.GET);\nrequest.AddHeader(\"content-type\", \"application/json\");\nrequest.AddHeader(\"Authorization\", \"Bearer ACCESS_TOKEN\");\n\nIRestResponse response = client.Execute(request);"
          },
          {
            "lang": "Java",
            "label": "Java",
            "source": "HttpResponse<String> response = Unirest.get(\"https://api.verdocs.com/v2/envelopes?param=value\")\n  .header(\"content-type\", \"application/json\")\n  .header(\"Authorization\", \"Bearer ACCESS_TOKEN\")\n  .asString();"
          }
        ]
      }
    },
    "/v2/fields/{template_id}": {
      "post": {
        "operationId": "createField",
        "summary": "Add a field to a template",
        "tags": [
          "Fields"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ITemplateField"
                }
              }
            }
          },
          "400": {
            "description": "Request Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "error"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ERROR"
                      ],
                      "description": "Always set to \"ERROR\"."
                    },
                    "error": {
                      "type": "string",
                      "description": "Description of the error that occurred."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Access Denied",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "error"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ERROR"
                      ],
                      "description": "Always set to \"ERROR\"."
                    },
                    "error": {
                      "type": "string",
                      "description": "Description of the error that occurred."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "error"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ERROR"
                      ],
                      "description": "Always set to \"ERROR\"."
                    },
                    "error": {
                      "type": "string",
                      "description": "Description of the error that occurred."
                    }
                  }
                }
              }
            }
          },
          "406": {
            "description": "Invalid Parameter",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "error"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ERROR"
                      ],
                      "description": "Always set to \"ERROR\"."
                    },
                    "error": {
                      "type": "string",
                      "description": "Description of the error that occurred."
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "description": "Body Parameters",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "role_name",
                  "document_id",
                  "type",
                  "required",
                  "page",
                  "x",
                  "y"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Name for the new field. Field names must be unique within a template. Although special characters are allowed, they must be URL-encoded in subsequent requests, so it is recommended to use only alphanumeric characters and hyphens if possible."
                  },
                  "role_name": {
                    "type": "string",
                    "description": "Role to assign to the field. Role names must be valid, so it is recommended to create roles before fields."
                  },
                  "document_id": {
                    "type": "string",
                    "description": "ID of the document upon which to place the field."
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "signature",
                      "initial",
                      "checkbox",
                      "radio",
                      "textbox",
                      "timestamp",
                      "date",
                      "dropdown",
                      "textarea",
                      "attachment",
                      "payment"
                    ],
                    "description": "Type of field to create"
                  },
                  "required": {
                    "type": "boolean",
                    "default": "false",
                    "description": "Whether the field is required"
                  },
                  "page": {
                    "type": "integer",
                    "description": "0-based page number upon which to place the field"
                  },
                  "x": {
[...]
